@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family:  "Montserrat", sans-serif;
}

h1{
    text-align: center;
    font-size: 40px;
    margin: 1% 0 2% 0;
}

label{
    font-size: 19px;
    font-weight: bold;
    margin: 1%;
}

input:not([type="submit"]){
    margin-bottom: 25px;
}

#button-create {
    cursor: pointer;
    width: 250px;
    height: 90px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
}

input:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#search-inp{
    width: 200px;
    height: 20px;
}

#search_btn{
    width: 100px;
    height: 25px;
}

table#devicesTable {
    width: 100%;
    max-width: 100vw;
    border-collapse: collapse;
}

table#devicesTable th,
table#devicesTable td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 2px solid black;
}

th {
    border-top: 1px solid #ddd;
}


@media (max-width: 1000px) {
    #button-create {
        width: 50vw;
        height: 5vh;
        font-size: 30px;
    }
    #search-inp {
        width: 40%;
    }
    label, input {
        margin: 0 10px;
    }
    label {
        display: inline-block;
    }
    input {
        display: inline-block;
        white-space: nowrap;
    }
}